@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap%27%27');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

main, html {
    width: 100%;
}
body {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}
#carousel {
    width: 100%;
}
.nav-text {
    line-height: 21px;
    letter-spacing: 1.94px;
    color: #FFFFFF;
    font-weight: normal;
    font-family: oswald;
    font-size: 14px;
    text-decoration: none;
    font-style: normal;
}

.head {
    font-size: 72px;
    font-weight: 300;
    line-height: 107px;
    align-items: flex-end;
    letter-spacing: 4.608px;
    color: #FFFFFF;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 2%;
}
.photo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 95%;
}
.text {
    letter-spacing: 1.28px;
    color: #FFFFFF;
}

.header {
    font-family: oswald;
    font-size: 27px;
    height: 53px;
    left: 0px;
    top: -4px;
    line-height: 80px;
    letter-spacing: 2.304px;
    colour: #333;
    font-weight: bold;
    font-style: normal;
    align-items: flex-end;
}
.navbar {
    background: none;
    margin-top: -45%;
    margin-left: 55%;
}
.carousel-indicators [data-bs-target] {
    font-family: oswald;
    font-size: 15px;
    height: 0px;
    color: #FFFFFF;
    text-indent: -100%;
}
.pic1 {
    width: 400px;
    height: 411px;
    left: -212px;
    top: -19px;
}
.pic1_title {
    width: 150px;
    height: 53px;
    left: 0px;
    top: -4px;
    line-height: 80px;
    letter-spacing: 2.304px;
    colour: #333;
    font-weight: bold;
    font-family: oswald;
    font-size: 27px;
    font-style: normal;
    align-items: flex-end;
}
.pic1_title2 {
    font-style: normal;
    font-size: 48px;
    line-height: 71px;
    font-weight: 300;
    align-items: flex-end;
    letter-spacing: 3.072px;
    color: #252525;
    display: flex;
}
.pic1_text {
    width: 281px;
    height: 75px;
    left: 30px;
    top: 0px;
    line-height: 25px;
    letter-spacing: 1.26px;
    colour: #5b5858;
    font-weight: 300;
    font-family: "Open Sans";
    font-size: 15px;
    font-style: normal;
    align-items: center;
}
.pic1_text1 {
    font-family: "oswald";
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 1.26px;
    colour: #000;
    font-weight: 600;
}
.Question_text_top {
    font-family: oswald;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2.66667px;
    colour: #000;
    font-weight: normal;
    font-style: normal;
    align-items: center;
}
.Question_text_bottom_left {
    height: 19px;
    left: 312px;
    top: 181px;
    line-height: 19px;
    letter-spacing: 1.55556px;
    colour: #373737;
    font-weight: 300;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    align-items: center;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.Question_text_bottom_right {
    height: 19px;
    left: 404.5px;
    top: 181px;
    line-height: 19px;
    letter-spacing: 1.55556px;
    color: #FFFFFF;
    font-weight: 300;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    align-items: center;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.bottom_block_text {
    height: 17px;
    left: 0px;
    top: 59px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.832px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    line-height: 19px;
    text-align: center;
}
.end_text {
    height: 17px;
    left: 758px;
    top: 21px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.832px;
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.carousel-indicators .active {
    font-size: 30px;
    text-indent: -100%;
    margin-top: -15px;
}
#mail {
    height: 35px;
    width: 55px;
}
#briefcase {
    height: 35px;
    width: 55px;
}
.sqr {
    width: 309px;
    height: 418px;
    left: 403px;
    top: 62px;
    mix-blend-mode: normal;
    opacity: 0.8;
    background: #4caf50;
}
.navbar1 {
    background: none;
}
.nav-text1 {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1.94px;
    color: #000000;
}
#Service {
    background-color: #f6f6f6;
}
#Team {
    background-color: #f6f6f6;
    margin-top: 10%;
}
.man {
    font-family: "oswald";
    font-size: 24px;
    text-align: center;
}
#man_text {
    font-family: "Open Sans";
    font-size: 14px;
}
.relative_box {
    position: relative;
    width: 400px;
    float: left;
}
.text-cen {
    line-height: 40px;
    letter-spacing: 1.26px;
    colour: #252525;
    font-weight: 300;
    font-style: normal;
    align-items: center;
    font-family: "Open Sans";
    font-size: 17px;
    margin-left: 20%;
    max-width: 60%;
    left: 30px;
    top: 0px;
}
#line {
    width: 40%;
    opacity: 50%;
    margin-left: 30%;
}
.font_oswald {
    font-family: "oswald";
}
.font_sans {
    font-family: "Open Sans";
}
